Package: com.quattro.aoditweak
Name: aoditweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: quattro
Author: quattro
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
